# GNU Terry Pratchett :)
#textdomain wesnoth-Interception
[scenario]

  id=01_interception
  next_scenario=null
 
  name= _ "Interception"
  map_data="{~add-ons/Interception/maps/Interception.map}"
  turns=25
 
  {DEFAULT_SCHEDULE}
 
  {SCENARIO_MUSIC       frantic.ogg}
  {EXTRA_SCENARIO_MUSIC northerners.ogg}

  [lua]
    code = <<
        H = wesnoth.require "lua/helper.lua"
        T = wml.tag
        V = wml.variables
        local _ = wesnoth.textdomain "wesnoth-Interception"

        -- Define your global constants here.
        -- ...


        -- Define your global functions here.
        function isOnCastle(x,y)
          return wesnoth.match_location(x, y, {
            terrain = "Chr,Khr,Wog^Bw|r"
          })
        end
    >>
  [/lua]
  [event]
    name=prestart

    # We track how much nobbs gets hit
    {VARIABLE nobbs_hit 0}

    # How many orcs are currently chilling inside the castle borders
    {VARIABLE orcs_at_castle 0}
  [/event]

  # Initial story-givin'
  [story]
    [part]
      background=story.jpg
      story= _ "The orcs have declared war. Their warhorns echo from the horizon, and their fires tint the sunset with acrid smoke. Those with any militia to call their own have been called upon to lend their strength to the defense of the realm - including you, Duke Roland.
      
      ...Don't worry, that's not you in the picture. But it might be, if you slip up."
    [/part]
    [part]
      background=story.jpg
      story= _ "You are to secure the old river bastion, before the orcs claim it for themselves, and give themselves an unshakeable foothold from which to drown the northern marches in ruin. It's hard enough to put them down in the open, let alone with them having a fortress to hide in."
    [/part]
  [/story]
 
  # Show objectives
  [event]
    name=prestart
    [objectives]
      side=1
      [objective]
        description= _ "Destroy the enemy horde"
        condition=win
      [/objective]
      [objective]
        description= _ "Roland dies"
        condition=lose
      [/objective]
      [objective]
        description= _ "Turns run out"
        condition=lose
      [/objective]
      [note]
        description= _ "Destroying the orcs really will be a slaughter if you don't take the bastion before they do. It won't be the end of the world though - you have options."
      [/note]
    [/objectives]
  [/event]

  # Humeys
  [side]
    side=1
    controller=human
    team_name=Humans
    user_team_name= _ "Humans"
    
    type=Royal Warrior
    id=Roland
    name= _ "Roland"
    canrecruit=yes

    # We specifically do not want them to see enemy units
    fog=yes

    # Eh no magic for now
    # Footpads are pretty useful against other chaotic units at night, and they're great scouts, so I'll have em in
    recruit=Spearman,Bowman,Cavalryman,Footpad
    # Same difficulty level. Consistency!
    {GOLD 40 40 40}
    {INCOME 2 2 2}

    ### Units the player starts with
    [unit]
      role=Personal
      type=Cavalryman
      facing=ne
      x,y=22,38
    [/unit] 

    [unit]
      role=Personal
      type=Cavalryman
      facing=ne
      x,y=24,38
    [/unit]    
  [/side]

  # The orcs side
  [side]
    side=2
    controller=human
    team_name=Orcs
    user_team_name= _ "Orcs"
    
    type=Orcish Ruler
    id=Grem
    # Has a literal third eye, through which he sees the future. Might be difficult to get an icon for this...
    name= _ "Grem Three-Eyes"
    canrecruit=yes

    recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Goblin Spearman
    # Same difficulty level. Experiment's gotta have consistency!
    {GOLD 40 40 40}
    {INCOME 2 2 2}
  [/side]

  # The neutral side of (Nobbs) - until you see him, where he'll join you
  [side]
    side=3
    controller=ai
    team_name=Humans
    no_leader=yes
    fog=yes
    hidden=yes
    share_vision=none

    # Look, Nobbs isn't RICH
    {NO_INCOME}

    # Adjust Nobbs' line of sight so he's able to give a bit of warnin? heavies can't move much
    [unit]
      role=Castle Guard
      type=Heavy Infantryman
      facing=nw
      x,y=31,19
      name="Corporal Nobbs"
      unrenamable=yes
      id="Nobbs"
      # Alignment generally not set manually? bollocks to that
      # Neutral Nobbs mean he'll be able to hold out a little better than others at night against the orcies
      alignment=neutral

      [modifications]
        {TRAIT_LOYAL}
        {TRAIT_INTELLIGENT}
      [/modifications]
    [/unit]

    # Nobbs is very comfortable on this bridge
    [ai]
      [goal]
        name=target_location
        [criteria]
          x,y=31,19
        [/criteria]
        value=42
      [/goal]
    [/ai]
  [/side]

  # Initial Roland speech
  [event]
    name=start
    # TODO: Give roland a better speaker picture? Atm just uses royal warrior icon
    [message]
      speaker=Roland
      message= _ "The bastion lies ahead. We have a map of the area, but we came here so fast that we couldn't scout - the orcs may be just over the horizon, and any hesitation risks losing the fortress to them."
    [/message]
  [/event]

  # Nobbs is seen by the current side
  # Some interaction, then he joins you
  [event]
    name=sighted
    [filter]
      side=3
    [/filter]
    [filter_second]
      side=1
    [/filter_second]

    {VARIABLE nobbs_seen "yes"}

    [if]
      [variable]
        name=orcs_arrived
        boolean_not_equals="yes"
      [/variable]
      # You got to Nobbs first
      [then]
        [message]
          speaker=narrator
          message="Ahead on the northern bridge, you see the figure of what could charitably be called a human male leaning against a column. Clad in a battered set of armour with his visor up, he appears to be smoking the rather unfortunate remains of a cigarette."
        [/message]
        [message]
          speaker=Roland 
          message="Ho there, soldier! I didn't know this fortress was still manned. What's your name?"
        [/message]
        [scroll_to_unit]
          id=Nobbs
        [/scroll_to_unit]
        [message]
          speaker=narrator
          message="With a guilty start and surprised choking, the figure frantically looks around for the source of the voice. His eyes find the noble armour of Roland and widen in surprise. The cigarette magically disappears, replaced by an impressively convincing pretense of a dutiful soldier at attention and saluting."
        [/message]
        [message]
          speaker=Nobbs
          caption="" # Hide nobbs' name. This is an introduction to 'im
          message="Nobbs, sah! Corporal Nobbs!"
        [/message]
        [message]
          speaker=Roland
          message="Nobbs, eh? Well Corporal, I'm glad we got here in time. There are orcs on the horizon, and we are to hold this fortress against them."
        [/message]
        [message]
          speaker=Nobbs
          message="O...Orcs, sah?"
        [/message]
        [message]
          speaker=Roland
          message="Afraid so, soldier. Fall in with us - we're glad to have you. Glad we got here before they got to you."
        [/message]
        [message]
          speaker=narrator
          message="With a gulp and a rather more shaky salute, Corporal Nobbs joins your forces."
        [/message]
      [/then]
      # If the orcs got to Nobbs before you did. This event will only fire if he's still alive, at least
      [else]
        [message]
          speaker="Nobbs"
          message=_ "Thank the blasphemous nine, humans! Help! I'm too young to die!"
        [/message]
        [message]
          speaker=narrator
          message=_ "Corporal Nobbs is, in fact, somewhere between 27 and his late 40s. This does not, however, change his opinion on not dying."
        [/message]
        [message]
          speaker=Roland
          message= _ "We'll relieve you, soldier! <small>...probably. those orcs are <i>terrifying</i>.</small> Hang in there!"
        [/message]
      [/else]
    [/if]

     # Convert all the castle guards (hah, just Nobbs) to the human side
     [modify_unit]
       [filter]
         side=3
       [/filter]
       side=1
     [/modify_unit]
    
     # Clear fog of war for the humeys, to include Nobbs' sight
     [redraw]
       side=1
     [/redraw]
  [/event]

  # The orcs are seen by poor Nobbs, who you haven't seen yet
  [event]
    name=sighted
    [filter] # Orcs sighted
      side=2
    [/filter]
    [filter_second] # By Nobbs
      side=3
    [/filter_second]

    {VARIABLE orcs_arrived  "yes"}

    # sound: a sound effect (wav file) to play as the message is displayed... yessss
    # Look, I know having the speaker be Nobbs and then hiding all that is a little hacky
    # But I want to make sure the scrolling is synchronised with the speaking.
    [message]
      speaker=Nobbs
      caption=""
      image=none
      highlight=no
      message=_ "<big><b>Aaaaaaaaa!!!</b></big>
      
      The distinct sound of a rather high-pitched scream makes its way to your ears from the direction of the fortress."
    [/message]
    [message]
      speaker=Roland
      message="There's someone still manning the fortress?! The orcs must have arrived! Quickly, now!"
    [/message]
    # TODO: Remove debug stuff
    [lua]
      code = << 
        wesnoth.message("So... THIS event context works") 
        wesnoth.message(wesnoth.debug(wesnoth.current.event_context))
      >>
    [/lua]
  [/event]

  # Bastard event for counting how much Nobbs got hit
  [event]
    name=attacker hits
    [filter_second]
      id=Nobbs
    [/filter_second]

    {VARIABLE_OP nobbs_hit add 1}
  [/event]

  [event]
    name=last breath
    [filter]
      id=Nobbs
    [/filter]

    [if]
      [variable]
        name=nobbs_seen
        boolean_equals=yes 
      [/variable]
      # We've already seen Nobbs
      [then]
        [message]
          speaker=narrator
          message="Corporal John Nobbs falls to his knees, armour crumpled in places and bleeding from far too many wounds."
        [/message]
        [message]
          speaker=Nobbs
          message="'s a shame I'll never be able to play a last game o' cards. Reckon I coulda won that pretty sword of yours..."
        [/message]
        [message]
          speaker=second_unit
          message="Heh, that humey took... ooh, about $(nobbs_hit) broken bones to go down. Wonder how many it'll take for <i>you</i>, shiny boy?"
        [/message]
      [/then]
      # If the player has not seen Nobbs
      [else]
        [message]
          speaker=narrator
          message="In the distance, you hear a rattling gasp, and the crunch of armoured deadweight falling to the floor. The silence that follows is all the more ominous."
        [/message]
      [/else]
    [/if]
  [/event]

  # Useful macro for later
  #  {REPEAT 5 (
  #     {QUAKE "rumble.ogg"}
  #  )}

  # Maybe change this to humeys begin
  [event]
    name=side 2 turn end
    first_time_only=no

    [lua]
      code = << 
        local orc_units = wesnoth.get_units { side = 2 }
        local orcs_on_castle = 0
        local overrun_threshold = 1
        for i, unit in ipairs(orc_units) do
          if isOnCastle(unit.x, unit.y) then
            orcs_on_castle = orcs_on_castle + 1
          end
        end
        if orcs_on_castle >= overrun_threshold then
          wesnoth.fire_event("orcs_overrun_fort")
        end
      >>
    [/lua]
  [/event]

  [event]
    name=orcs_overrun_fort
    
    [message]
      speaker=Roland
      message="Oh frick oh no they've taken it over"
    [/message]
  [/event]
[/scenario]